
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CodeMentor | Home</title>
  <meta name="description" content="Senior Project App - Erin Barcaskey, Madelyn Reyes, Tiri Shamhu">
  <meta name="keywords" content="Senior Project, Educational sites,">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
  <link rel="stylesheet" type="text/css" href="{% static "seniorProjectApp/css/css/font-awesome.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "seniorProjectApp/css/bootstrap.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "seniorProjectApp/css/imagehover.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "seniorProjectApp/css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "seniorProjectApp/css/custom.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

     <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="628018493129-abeqk5hkg981cqp1amvi8t7olcqhkrhn.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>


  <!-- =======================================================
    Theme Name: Mentor
    Theme URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>
