{% extends './default.html' %}
{% load static %}

{% block content %}
  <!--Navigation bar-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/seniorProjectApp/"><span>CODE</span>MENTOR</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
         <li><a href="/seniorProjectApp/1/">Dashboard</a></li>
          {% if user.is_authenticated %}
                  <li><a href="/seniorProjectApp/1/">Hi {{ user.username }}!</a></li>
            <li class="btn-trial"><a href="{% url 'logout' %}">logout</a></li>
          {% else %}
            <li><a href="">You are not logged in</a></li>
            <li class="btn-trial"> <a href="{% url 'login' %}">login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Navigation bar-->

  <div class="dashheader">
      <h1 class="text-center">DASHBOARD - {{degree_list.degreeName}}</h1>
  </div>

  <div class="container dash">
    <div class="row">
      <div class="col-12"><h2 class="text-center">FRESHMAN LEVEL COURSES</h2></div>
      <div class="list-group">
        {% for course in courses_list%}
          {% if course.level == 'Freshman'%}
            <div class="col-xs-12 col-sm-6 col-lg-4 ">
              <a href="/seniorProjectApp/{{user.id}}/{{degree_list.degreeID}}/{{course.courseID}}" class="list-group-item">
                <div class="coursepanelheading">{{course.courseName}}</div>
                <div class="coursepanelbody">{{course.courseDescription}}</div>
              </a>
            </div>
          {% endif%} 
        {% endfor %}
      </div>
    </div>

    <div class="row">
      <div class="col-12"><h2 class="text-center">SOPHOMORE LEVEL COURSES</h2></div>
      <div class="list-group">
        {% for course in courses_list%}
          {% if course.level == 'Sophomore'%}
            <div class="col-xs-12 col-sm-6 col-lg-4 ">
              <a href="/seniorProjectApp/{{user.id}}/{{degree_list.degreeID}}/{{course.courseID}}" class="list-group-item">
                <div class="coursepanelheading">{{course.courseName}}</div>
                <div class="coursepanelbody">{{course.courseDescription}}</div>
              </a>
            </div>
          {% endif%} 
        {% endfor %}
      </div>
    </div>

    <div class="row">
      <div class="col-12"><h2 class="text-center">JUNIOR LEVEL COURSES</h2></div>
      <div class="list-group">
        {% for course in courses_list%}
          {% if course.level == 'Junior'%}
            <div class="col-xs-12 col-sm-6 col-lg-4 ">
              <a href="/seniorProjectApp/{{user.id}}/{{degree_list.degreeID}}/{{course.courseID}}" class="list-group-item">
                <div class="coursepanelheading">{{course.courseName}}</div>
                <div class="coursepanelbody">{{course.courseDescription}}</div>
              </a>
            </div>
          {% endif%} 
        {% endfor %}
      </div>
    </div>

    <div class="row">
      <div class="col-12"><h2 class="text-center">SENIOR LEVEL COURSES</h2></div>
      <div class="list-group">
        {% for course in courses_list%}
          {% if course.level == 'Senior'%}
            <div class="col-xs-12 col-sm-6 col-lg-4 ">
              <a href="/seniorProjectApp/{{user.id}}/{{degree_list.degreeID}}/{{course.courseID}}" class="list-group-item">
                <div class="coursepanelheading">{{course.courseName}}</div>
                <div class="coursepanelbody">{{course.courseDescription}}</div>
              </a>
            </div>
          {% endif%} 
        {% endfor %}
      </div>
    </div>
  </div>
  
{% endblock %}