{% extends './default.html' %}
{% load static %}

<!DOCTYPE html>
{% block content %}
  <!--Navigation bar-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/seniorProjectApp/"><span>CODE</span>MENTOR</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <!-- nav for index page -->
          <li><a href="#feature">Features</a></li>  
          <li><a href="#courses">Courses</a></li>

          {% if user.is_authenticated %}
                    <li><a href="/seniorProjectApp/1/">Dashboard</a></li>
              <li class="btn-trial"><a href="{% url 'logout' %}">logout</a></li>
            {% else %}
                <li><a href="/seniorProjectApp/signup/">Sign Up</a></li>
              <li class="btn-trial"><a href="/seniorProjectApp/login/">Log in</a></li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Navigation bar-->
    
  <!-- Banner -->
  <div class="banner">
    <div class="bg-color">
      <div class="container">
        <div class="row">
          <div class="banner-text text-center">
            <div class="text-border">
              <h2 class="text-dec">CODE <strong>MENTOR</strong></h2>
            </div>
            <div class="intro-para text-center quote">
              <p class="big-text">Computing resources tailored to your degree</p>
              <p class="small-text">CodeMentor is a collection of resources designed 
                to help college students learn topics taught in their computing classes.</p>
              <a href="signup/" class="btn get-quote">SIGN UP NOW</a>
            </div>
            <a href="#feature" class="mouse-hover">
              <div class="mouse"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Banner-->
  
  <!--Feature-->
  <section id="feature" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>Features</h2>
          <p>By collecting credible resources on topics taught in each class, 
            you can come to one place to learn the material you need to know to be successful.
            And you can track your progress and take notes without leaving the site.
            <br/>Pretty cool, right?</p>
          <hr class="bottom-line">
        </div>
        <div class="feature-info">
          <div class="fea">
            <div class="col-md-4">
              <div class="heading pull-right">
                <h4>Resources for specific courses</h4>
                <p>Because CodeMentor is designed for students by students, we understand the importance 
                  of using resources that will help in your courses. Intro to Programming classes are 
                  different across universities, so we create a unique set of resources for each course 
                  at each university.</p>
              </div>
              <div class="fea-img pull-left">
                <img src="{% static "seniorProjectApp/img/course.png" %}" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="fea">
            <div class="col-md-4">
              <div class="heading pull-right">
                <h4>Track your progress</h4>
                <p>CodeMentor allows you to check off which links and activities you have already completed 
                  so you don’t have to waste time trying to find the last article you read or quiz you passed. </p>
              </div>
              <div class="fea-img pull-left">
                <img src="{% static "seniorProjectApp/img/badge.png" %}" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="fea">
            <div class="col-md-4">
              <div class="heading pull-right">
                <h4>Take notes within the site</h4>
                <p>Switching back and forth between an article and whatever application you use to take notes is 
                  one of the most frustrating parts of learning online. CodeMentor has built-in note taking 
                  functionality that solves that problem, allowing you to take notes while you read and saving 
                  all your notes within the site.</p>
              </div>
              <div class="fea-img pull-left">
                <img src="{% static "seniorProjectApp/img/notes.png" %}" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ feature-->

  <!-- Organisations - includes survey results -->
  <section id="organisations" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="orga-stru">
              <h3>80%</h3>
              <p>Say YES</p>
              <i class="fa fa-male"></i>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="orga-stru">
              <h3>12%</h3>
              <p>Say MAYBE</p>
              <i class="fa fa-male"></i>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="orga-stru">
              <h3>8%</h3>
              <p>Say NO</p>
              <i class="fa fa-male"></i>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-info">
            <hgroup>
              <h3 class="det-txt"> Would you use a resource site covering topics taught in your college courses?</h3>
            </hgroup>
            <p class="det-p">Responses are from students in the College of Computing and Technology at Lipscomb University in 2019</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Organisations-->
  
  <!--Courses-->
  <section id="courses" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>Courses</h2>
          <p>Course topics are chosen based on the curriculum taught at each university. 
            This way, each student has the ability to prepare for courses ahead of time 
            or review material they need to know before graduating.</p>
          <hr class="bottom-line">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 padleft-right">
          <figure class="imghvr-fold-up">
            <img src="{% static "seniorProjectApp/img/course python hitesh choudhary.jpg" %}" class="img-responsive">
            <figcaption>
              <h3>Intro to Programming</h3>
              <p><strong>Lipscomb University</strong> - Intro to Programming focuses on coding basics and learning Python, which is becoming one of the most popular programming languages.</p>
            </figcaption>
            <a href="#"></a>
          </figure>
        </div>
        <div class="col-md-4 col-sm-6 padleft-right">
          <figure class="imghvr-fold-up">
            <img src="{% static "seniorProjectApp/img/course db campaign creators.jpg" %}" class="img-responsive">
            <figcaption>
              <h3>Database Management</h3>
              <p><strong>Lipscomb University</strong> - The Database Management course introduces basic 
              database concepts, the relational database model, SQL, and database system design and development.</p>
            </figcaption>
            <a href="#"></a>
          </figure>
        </div>
        <div class="col-md-4 col-sm-6 padleft-right">
          <figure class="imghvr-fold-up">
            <img src="{% static "seniorProjectApp/img/course php vishnu nair.jpg" %}" class="img-responsive">
            <figcaption>
              <h3>Web Server Technologies</h3>
              <p><strong>Lipscomb University</strong> - Web Server Technologies introduces PHP scripting language and designing and setting up databases using MySQL.</p>
            </figcaption>
            <a href="#"></a>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!--/ Courses-->

  <!--Testimonial-->
  <section id="testimonial" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2 class="white">See What Our Users Are Saying</h2>
          <p class="white">We want to give you the resources you need to be successful, all in one place.</p>
          <hr class="bottom-line bg-white">
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="text-comment">
            <p class="text-par">"CodeMentor helped me prepare for my first college classes before I even stepped on campus."</p>
            <p class="text-name">Danielle Jones - Freshman at Lipscomb University</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="text-comment">
            <p class="text-par">"I used CodeMentor to review topics I needed to know for jobs after gradution."</p>
            <p class="text-name">Levi Boone - Senior at Lipscomb University</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Testimonial-->
    
  <!-- Team members -->
  <section id="faculity-member" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>Meet Our Team Members</h2>
          <p>Brought together by their Senior Seminar course, Madelyn, Tiri, and Erin are all passionate about
            helping the next generation of students. They strive to mentor people entering college to help them 
            reach their potential and discover where their skills and passions intersect needs in the world.</p>
          <hr class="bottom-line">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="pm-staff-profile-container">
            <div class="pm-staff-profile-image-wrapper text-center">
              <div class="pm-staff-profile-image">
                <img src="{% static "seniorProjectApp/img/madelyn profile.jpg" %}" alt="Madelyn's headshot" class="img-thumbnail img-circle" />
              </div>
            </div>
            <div class="pm-staff-profile-details text-center">
              <p class="pm-staff-profile-name">Madelyn Reyes</p>
              <p class="pm-staff-profile-title">Software Engineer</p>
              <p class="pm-staff-profile-bio">Madelyn is a senior studying Computer Science at Lipscomb University. 
                She enjoys reading and hiking when she’s not coding.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="pm-staff-profile-container">
            <div class="pm-staff-profile-image-wrapper text-center">
              <div class="pm-staff-profile-image">
                <img src="{% static "seniorProjectApp/img/tiri profile.jpg" %}" alt="Tiri's headshot" class="img-thumbnail img-circle" />
              </div>
            </div>
            <div class="pm-staff-profile-details text-center">
              <p class="pm-staff-profile-name">Tirivashe Shamhu</p>
              <p class="pm-staff-profile-title">Software Engineer</p>
              <p class="pm-staff-profile-bio">Tiri is a senior studying Computer Science at Lipscomb University. 
                He is interested in working in software development or web development in the future. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="pm-staff-profile-container">
            <div class="pm-staff-profile-image-wrapper text-center">
              <div class="pm-staff-profile-image">
                <img src="{% static "seniorProjectApp/img/erin profile.jpg" %}" alt="Erin's headshot" class="img-thumbnail img-circle" />
              </div>
            </div>
            <div class="pm-staff-profile-details text-center">
              <p class="pm-staff-profile-name">Erin Barcaskey</p>
              <p class="pm-staff-profile-title">Web Developer and Project Manager</p>
              <p class="pm-staff-profile-bio">Erin is a senior studying Web Application Development at Lipscomb University.
                Her goal is to work in UI/UX, and she is interested in ethical design and socially responsible software.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ team member -->
  
{% endblock %}


