
{% extends './default.html' %}
{% load static %}

{% block content %}
  <!--Navigation bar-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/seniorProjectApp/"><span>CODE</span>MENTOR</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
         <li><a href="/seniorProjectApp/1/">Dashboard</a></li>
          {% if user.is_authenticated %}
                  <li><a href="/seniorProjectApp/1/">Hi {{ user.username }}!</a></li>
            <li class="btn-trial"><a href="{% url 'logout' %}">logout</a></li>
          {% else %}
            <li><a href="">You are not logged in</a></li>
            <li class="btn-trial"> <a href="{% url 'login' %}">login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Navigation bar-->

  <section id="progress">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="text-center">{{course.courseName}} - <a href="{{link.linkUrl}}">{{link.linkName}}</a></h1>

          <div class="row">
            <div class="col-12">
                <p class="text-center progress-instructions">Take your notes and check the box after you go 
                through the material in the link. Make sure you save your progress!</p>
            </div>
          </div>

          <div class="row">
          {% comment %} PROGRESS ID :{{progress.progressID}} linkID: {{link.linksID}}
            userID: {{user.id}} iscompleted: {{progress.isCompleted}}  notes: {{progress.notes}}  {% endcomment %}
            <div class="col-8 progress-formatting">  
                <form method="post">
                  {% csrf_token %}
                      {{ form.non_field_errors }}
                        <input type="hidden" name="userID" value="{{user.id }}"/>
                        <input type="hidden" name="linkID" value="{{link.linksID}}" />
                        <input type="hidden" name="progressID" value="NULL" />
                    
                        {% comment %} notes label and field {% endcomment %}
                        <div class="row">
                          <div class="col">
                            {{ form.cc_myself.errors }}
                            <label for="{{ form.cc_myself.id_for_label }}">
                              <h4>Notes</h4>
                            </label>
                            <div>{{ form.notes }}</div>
                          </div>
                        </div>

                        {% comment %} checkbox row {% endcomment %}
                        <div class="row checkboxrow">
                          <div class="col">    
                              {{ form.sender.errors }}
                              <label for="{{ form.sender.id_for_label }}"><h4>I completed this link!</h4></label>
                                {% comment %} <td>{% if progress.isCompleted == True %}&#10004;{% else %}&times;{% endif %}</td> {% endcomment %}
                              {{ form.isCompleted }}
                          </div>
                        </div>

                        <div class="row buttonrow">
                          <div class="col" align="right">
                            <button type="button" class="btn btn-secondary"><a href="/seniorProjectApp/{{user.id}}/{{degreeID}}/{{course.courseID}}/">Back</a></button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                    </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
